<form [formGroup]="form" (ngSubmit)="submit()">
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').invalid && form.get('title').touched}"
  >
    <label for="title">Название поста</label>
    <input id="title" type="text" formControlName="title">
    <div class="validation" *ngIf="form.get('title').invalid && form.get('title').touched">
      <small *ngIf="form.get('title').errors.required">
        Введите название поста
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>Контент поста</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author').invalid && form.get('author').touched}"
  >
    <label for="author">Автор поста</label>
    <input id="author" type="text" formControlName="author">
    <div class="validation" *ngIf="form.get('author').invalid && form.get('author').touched">
      <small *ngIf="form.get('author').errors.required">
        Введите автора поста
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid">Создать пост</button>
</form>
